.texto-datos{
	font-size: 2em!important;
}

.width_maximo{
	width: 100%;
}

.width_90{
	max-width: 90%;
}

.margin_top_20{
	margin-top: 20px;
}

.bg-segundo {
  background-color: #6C7626!important;
}

.bg-tercero {
  background-color: #6C77F2!important;
}

.bg-cuarto {
  background-color: #5C7852!important;
}

.desplegable{
	margin-top: 20px;
}